<div class="about-section">
  <div class="about-title">
    <div class="container d-flex justify-content-between align-items-end">
      <h1 class="fw-semibold d-inline-block">Sobre nosotros</h1>
      <iframe
        src="https://lottie.host/embed/a48c6633-31e3-462d-b44d-9f1331a66c37/thQar8AdWS.json"
      ></iframe>
    </div>
  </div>
  <section class="container mb-5">
    <div class="d-flex flex-column flex-md-row align-items-start gap-3">
      <div>
        <h3 class="fw-semibold mb-4">¿Quienes somos?</h3>
        <p>
          Somos una empresa familiar de Buenos Aires, fundada por emprendedores
          argentinos, especializada en juguetes y accesorios para gatos.
        </p>
        <p>
          Nuestros productos son de fabricación propia con diseños exclusivos y
          originales, elaborados de manera artesanal para la satisfacción de
          nuestros pequeños amigos.
        </p>
        <p>
          Contamos con más de 500 artículos diseñados en base a lo que les gusta
          a las mascotas, utilizando materiales de primera calidad y
          considerando sus necesidades lúdicas porque "jugar hace bien" y es
          crucial para el
          <strong>óptimo crecimiento y desarrollo del gato</strong>
          .
        </p>
        <p>
          Además de rascadores, ofrecemos productos importados y nacionales, lo
          que nos permite tener una cartera de productos amplia y variada para
          equipar su negocio.
        </p>
        <p>
          Nos hemos unido a la idea de tener un planeta verde y limpio,
          utilizando materiales reciclados y promoviendo la sostenibilidad en
          todos nuestros productos.
        </p>
      </div>
      <img
        src="assets/about.svg"
        alt="Gato y perro"
        class="about-img"
      />
    </div>
  </section>
  <section class="container mb-5">
    <h3 class="fw-semibold mb-4 text-center">Contactanos</h3>
    <div
      class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-3"
    >
      <img
        src="assets/contact.svg"
        alt="Contactos"
        class="about-img"
      />
      <div class="contact-items">
        <a href="https://wa.me/1111111111" title="Whatsapp">
          <span class="icon-box">
            <i class="ri-whatsapp-line"></i>
          </span>
          <span>11-1111-1111</span>
        </a>
        <a href="tel:1111111111" title="Teléfono">
          <span class="icon-box">
            <i class="material-icons">local_phone</i>
          </span>
          <span>11-1111-1111</span>
        </a>
        <a href="mailto:cats_shop@example.com" title="Email">
          <span class="icon-box">
            <i class="ri-mail-fill"></i>
          </span>
          <span>cats_shop&#64;example.com</span>
        </a>
        <a href="#" title="Instagram">
          <span class="icon-box">
            <i class="ri-instagram-fill"></i>
          </span>
          <span>cats_shop</span>
        </a>
        <a href="#" title="Facebook">
          <span class="icon-box">
            <i class="ri-facebook-circle-fill"></i>
          </span>
          <span>cats_shop</span>
        </a>
      </div>
    </div>
  </section>
  <div
    class="container justify-content-center align-items-center about-sections"
  >
    <!-- <a href="https://storyset.com/friends">Friends illustrations by Storyset</a> -->
  </div>
</div>
