<footer>
  <section class="border-top py-3">
    <div class="container">
      <div class="row row-cols-1 row-cols-lg-3 g-4">
        <div class="col text-muted text-center">
          <div class="d-flex justify-content-center gap-1">
            <mat-icon>room</mat-icon>
            <p class="fw-semibold font-fredoka mb-1">Envios a todo el país</p>
          </div>
          <p class="mb-0 small">Gratis para compras superiores a $59.990</p>
        </div>
        <div class="col text-muted text-center">
          <div class="d-flex justify-content-center gap-1">
            <mat-icon>credit_card</mat-icon>
            <p class="fw-semibold font-fredoka mb-1">Pagá como quieras</p>
          </div>
          <p class="mb-0 small">
            Tarjetas de débito, crédito, Mercado Pago o efectivo
          </p>
        </div>
        <div class="col text-muted text-center">
          <div class="d-flex justify-content-center gap-1">
            <mat-icon>phone</mat-icon>
            <p class="fw-semibold font-fredoka mb-1">Contactanos</p>
          </div>
          <p class="mb-0 small">Podes llamarnos al 11-1111-1111</p>
        </div>
      </div>
    </div>
  </section>
  <section class="dark-bg py-4">
    <div class="container">
      <p class="mb-0 text-light text-center small">2024 | Cat's shop</p>
    </div>
  </section>
</footer>
