<div class="splash">
  <div class="animate">
    <div class="splash_logo">
      <p>Cat's shop</p>
    </div>
    <div class="splash_svg">
      <svg width="100%" height="100%">
        <rect width="100%" height="100%" />
      </svg>
    </div>
  </div>
  <div class="content mx-auto">
    <iframe
      src="https://lottie.host/embed/b7667ee6-cb33-4332-88bb-ec73ddbaae20/IyRvh7hRWL.json"
      class="iframe-cover"
    ></iframe>
    <div class="content-text">
      <p>Cat's Shop</p>
    </div>
  </div>
</div>
