<app-cover></app-cover>
<div class="container my-5">
  <div class="row row-cols-1 row-cols-lg-3 g-4">
    <div class="col">
      <app-card
        title="Diversión felina sin límites"
        icon="pets"
        description="Explora nuestra amplia selección de juguetes diseñados para mantener a tu gato activo y feliz."
      ></app-card>
    </div>
    <div class="col">
      <app-card
        title="Innovación para gatos curiosos"
        icon="category"
        description="Descubre juguetes innovadores que estimulan la curiosidad y el ejercicio de tu gato."
      ></app-card>
    </div>
    <div class="col">
      <app-card
        title="Vínculo y diversión compartida"
        icon="looks"
        description="Fortalece el vínculo con tu gato a través de juguetes de inteligencia, creando momentos de conexión únicos."
      ></app-card>
    </div>
  </div>
</div>
