<div *ngIf="loading" class="vh-100">
  <div class="d-flex align-items-center justify-content-center pt-5 loaders">
    <div class="spinner-grow text-cadetblue ms-3" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
    <div
      class="spinner-grow text-cadetblue ms-3"
      style="width: 1.5rem; height: 1.5rem"
      role="status"
    >
      <span class="visually-hidden">Cargando...</span>
    </div>
    <div class="spinner-grow text-cadetblue ms-3" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>
</div>
