.form-control#search {
  width: 100%;
  min-height: 40px;
  padding-right: 40px;
  @media screen and (min-width: 576px) {
    width: 300px;
  }
}

::ng-deep {
  .dropdown-item.active {
    background-color: #637689;
  }
  .dropdown-menu {
    min-width: 100%;
    width: 100%;
    max-height: 338px;
    overflow-y: scroll;
    font-size: 0.875rem;
    @media screen and (min-width: 576px) {
      width: 300px;
      font-size: 1rem;
    }

    // Scrollbar
    /* width */
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      background-color: white;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 4px rgb(187, 187, 187);
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #464646;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #2c2c2c;
    }
  }
}
.container-search {
  position: relative;
  @media screen and (min-width: 576px) {
    width: 300px;
  }
}
.btn-search {
  max-height: 36px;
  width: 40px;
  height: 36px;
  position: absolute;
  top: 0.125rem;
  right: 0.125rem;
  display: flex;
  justify-content: center;
  background-color: #f9ecbc;
  &:hover {
    background-color: rgb(236, 237, 237);
  }
  .btn-search-icon {
    display: inline-block;
    max-height: 1.5rem;
    width: 1.5rem;
    min-width: 1.5rem;
    height: 1.5rem;
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(56, 72, 92, 1);transform: ;msFilter:;"><path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"></path></svg>');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
